<style>
body {
    position: relative;
}
.header
{
  position: fixed;
  background: linear-gradient(to right, #66ffcc 0%, #ccffcc 100%);
  width: auto;
	padding: 35px;
  margin: 20px 0 0 25px;
  border-radius: 20px;
}
img {
  width:280px; height:100px;
}
.main {
	width: auto;
 	height: auto;
  margin-top: 8%;
	position: absolute;
	left: 435px;
	top: 125px;
}
.sidenav{
  background: #E7FFE2;
  position: fixed;
  height: auto;
  float: left;
	padding: 20px;
  margin: 190px 0 0 30px;
  border-radius: 15px;
}
.list-group {
  margin-left: 40px;
  margin-top: 30px;
  width: 225px;
}
h2 {
  margin-left: 40px;
  margin-top: 30px;
  font-size: 20px;
}
.calendar {
  float: left;
}
.alerts{
  margin-left: 5px;
  width: 230px;
  margin-top: 30px;
}
table.a {
  margin-left: 30px;
  width: 230px;
  margin-top: 30px;
}
.icon{
  font-size:50px;
}
.username {
  text-align: center;
  font-size: 35px;
}
.role{
  text-align: center;
}
</style>
